.App {
  color: black;
  background-color: white;
  font-size: large;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s ease;
}

.MainImage {
  display:block;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  width: 40%;
}

.HomeText {
  font-size: x-large;
  text-align: center;
  display:block;
}

.Navigation {
  margin-top: 20px;
  text-align: right;
  list-style: none;
  padding: 8px;
  font-size: 20px;
  
}

.Navigation li {
  
  display:inline-block;
}

.Navigation li a {
  position: relative;
  padding: 4px;
  margin-right: 10px;
}

.Navigation li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.Navigation li a:hover::before {
transform-origin: left;
transform: scaleX(1);
}


.Navigation-link {
  color: var(--text-primary);
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.Navigation-link:visited {

  color: var(--text-primary);
  font-size: large;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  transition: all .5s ease;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
